/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
    text-align: center;
}

body {
    width: 100%;
    background-color: #EEEEEE;
}
.snackbar-error {
    background: #F44336 !important;
}
  
.snackbar-success {
    background: #53AE52 !important;
}